*{
    padding: 0;
    margin: 0;
}
.cabecalho{
    background-color:  #141E37;
    
}

.cabecalho-titulo1{
    color: white;
    display: flex;
    justify-content: flex-start;
}

.cabecalho-lista{
    color: white;
    display: flex;
    justify-content: flex-end;    
}

.cabecalho-lista-item1{
    color: white;
    padding: 20px;
    margin-right: 5px;
     

}
.cabecalho-lista-item2{
    color: white;
    padding: 20px;
    margin-left: 5px;
 

}
.cabecalho-titulo2{
    border: 5px solid; 
    border-color: white;
    color: black;
    display: flex;
    font-size: 30px;
    padding-left: 100px;
    
}

.socios{
    
    background-image: linear-gradient(#051437,#a1a7b6);
    color: white;
    display: inline-flex;
    
}
.socios-torcedores{
    padding:50px 100px 50px 50px;

}
.nomes{
    display: inline;
    padding-top: 50px;
    
}

.foto-romulo{
    width: 30%;
    padding-top: 70px;
    margin-left: -50px;
}
.foto-augusto{
    width: 30%;
    padding-top: 70px;
    margin-left: -50px;
}
.foto-gilmar{
    width: 30%;
    padding-top: 70px;
    margin-left: -50px;
}
.git{
    width: 20%;
}


